#leftColumn {
	width: 400px;
	margin-left:20px;
	margin-right:20px;
	float:left;
}

#rightColumn {
	width: 300px;
	float: right;
}

#demoTitle {
	font-size:110%;
}


.demoHelp { font-size:85%;margin-bottom:.6ex;padding-bottom:.1ex;}

.line_spacer {
	 position:relative;
	 clear:both;
	 width:100%;
	 margin-top:15px;
	}

.clickableLegend {
	width:20px;
	background-color:#FFFFCC;
	border:1px solid black;
	margin-right:10px;
}

#addDiv {margin-bottom:10px;margin-top:25px;}

#mainList {
	margin-left:2px;
	padding-left:0px;
	}

.itemLi {
	margin-left:0px;
	margin-bottom:2ex;
	list-style-type:none;
	background-color:#b0c8cc;
	padding: 2px 0px 2px 0px;
	border-radius: 5px;
}

.itemLi input[type="checkbox"] {
  margin-left:2px;
}

.noShow {display:none;}

.itemSpan {color:#000000;}

.controlDiv {
	padding:0px 1px;
	margin:8px 0px 8px 0px;

}

.positionStyle {
	color:#cccccc;
	border:1px dotted #cccccc;
	width:250px;
	text-align:center;
	font-weight:bold;
	margin:8px 0px 10px 0px;
	padding:0px;
	border-radius: 5px;
}

.moveIcon {
	margin: 4px 20px 4px 5px;
}

.editIcon {
	margin: 4px 20px 4px 5px;
}

.deleteIcon {
	margin: 4px 20px 4px 5px;
}

.moveIconLegend {
	margin: 4px 10px 2px 5px;
}

.editIconLegend {
	margin: 4px 10px 2px 5px;
}

.deleteIconLegend {
	margin: 4px 10px 2px 5px;
}

.inactive {
	color:#cccccc;
}

.controlActive {
	background-color:#f1f0e0;
}
